@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container { 
    max-width: 500px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 208px;
    padding: 0 44px;
    background: url("./assets/img/andre-tan-THJJRUhNlEc-unsplash.jpg") rgb(73, 73, 73) 0px -158.291px / 100% 423.007% no-repeat; 
    background-blend-mode: multiply;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header a {
    color: #FFF;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

header form {
    width: calc(100% - 88px);
    position: absolute;
    bottom: -18px;
    text-align: center;
    margin: 0 auto;
}

.form-container {
    display: flex;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    overflow: hidden;
}

.form-container input,
.form-container button {
    border: none;
}

.form-container input {
    flex: 3;
    padding: 9px 13px 9px 40px; /* Aumentar padding izquierdo para el ícono */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z' fill='%239CA3AF'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px 20px;
}

.form-container button {
    flex: 1;
    padding: 9px 13px;
    cursor: pointer;
}

#results-container {
    display: flex;
    flex-direction: column;
    padding: 20px 44px;
}

.movie-card {
    height: 200px;
    padding: 25px 0;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
}

.movie-card-img {
    height: 100%;
}

.movie-card-img img {
    height: 100%;
}

.movie-card-info {
    padding: 15px 0 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.movie-card-info-title {
    display: flex;
}

.movie-card-info-title h2 {
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 111.111% */
}

.movie-card-info-title span {
    color: #111827;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.movie-card-info-type {
    display: flex;
    gap: 16px;
}

.movie-card-info-type span {
    color: #111827;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    line-height: 20px;
    flex-shrink: 0; /* 166.667% */
}

.movie-card-info-type span img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

.movie-card-info-plot p {
    color: #6B7280;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}